/* public/css/pemilik/kelola-kamar.css */

.badge-kosong {
    background: #e6fffa !important; 
    color: #234e52 !important;
    border: 1px solid #b2f5ea !important;
}

.badge-terisi {
    background: #fff5f5 !important; 
    color: #9b2c2c !important;
    border: 1px solid #feb2b2 !important;
}